<div class="section home-title">
  <!--  -->
  <div class="container-fluid">
    <div class="row">
      <!--  -->
      <div class="col-md-9 m-auto">
        <div class="section-header text-center">
          <h2>What are you looking for?</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-3">
            <div class="card text-center doctor-book-card">
              <img
                src="../../../../../assets/image/doctor-07.jpg"
                alt=""
                class="img-fluid"
              />
              <div class="doctor-book-card-content title-card-content-1">
                <div>
                  <h3 class="card-title mb-0">Visit a Doctor</h3>
                  <a href="" class="btn book-btn1 px-2 py-2 mt-3 btn-one-light"
                    >Book Now</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!--  -->

          <!--  -->
          <div class="col-lg-4 mb-3">
            <div class="card text-center doctor-book-card">
              <img
                src="../../../../../assets/image/img-pharmacy1.jpg"
                alt=""
                class="img-fluid"
              />
              <div class="doctor-book-card-content title-card-content-1">
                <div>
                  <h3 class="card-title mb-0">Find a Pharmacy</h3>
                  <a href="" class="btn book-btn1 px-2 py-2 mt-3 btn-one-light"
                    >Find Now</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="col-lg-4 mb-3">
            <div class="card text-center doctor-book-card">
              <img
                src="../../../../../assets/image/lab-image.jpg"
                alt=""
                class="img-fluid"
              />
              <div class="doctor-book-card-content title-card-content-1">
                <div>
                  <h3 class="card-title mb-0">Find Lab</h3>
                  <a href="" class="btn book-btn1 px-2 py-2 mt-3 btn-one-light"
                    >Coming Soon</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
  <!--  -->
</div>
