<h3>My Patients</h3>
<div class="col-md-7 col-lg-8 col-xl-9">
    <div class="row row-grid">

        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let app of docAppointmentes">
            <div class="card widget-profile pat-widget-profile">
                <div class="card-body">
                    <div class="pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="patient-profile.html" class="booking-doc-img">
                                <img src="https://fakeimg.pl/250x100/">
                            </a>
                            <div class="profile-det-info">
                                <h3>{{app?.patient.Fname}}{{app?.patient.Lname}}</h3>
                                <div class="patient-details">
                                    <h5><b>Patient ID :</b> P00{{app?.patient._id}}</h5>
                                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Alabama, USA</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="patient-info">
                        <ul>
                            <li>Phone <span>{{app?.patient.Telephone}}</span></li>
                            <li>Age <span> {{app?.patient.Age}} Years, {{app?.patient?.gender}}</span></li>
                            <li>Email <span>{{app?.patient.Email}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--end roww grid--  -->
</div>