<div class="container">
  <div class="row">
    <div class="section-header sec-header text-center">
      <h2>Special Offers</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="offer-widget bg-yellow">
          <span>From %0.99 </span>
          <p>Breathable</p>
          <h3>Face Mask</h3>
          <a href="" class="btn btn-shop">Shop Now</a>
          <div class="offer-img">
            <img
              src="../../../../../assets/image/medicine/mask.png"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <!-- --------------------- -->
      <div class="col-lg-6 col-12">
        <div class="offer-widget bg-blue">
          <span>From %0.99 </span>
          <p>Get it now 45% Off</p>
          <h3>Hand Sanitizer</h3>
          <a href="" class="btn btn-shop">Shop Now</a>
          <!-- <div class="offer-img">
              <img
                src="../../../../../assets/image/medicine/offer-bg.jpg"
                alt=""
                class="img-fluid"
              />
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
