<p>doctor-details works!</p>
<div class="card">
    <div class="card-body">
        <div class="doctor-widget">
            <div class="doc-info-left">
                <div class="doctor-img">
                    <a href="doctor-profile.html">
                        <img [src]="doctor.image" class="img-fluid" alt="User Image">
                    </a>
                </div>
                <div class="doc-info-cont">
                    <h4 class="doc-name"><a href="doctor-profile.html">Dr.{{doctor.firstName}}{{doctor.lastName}}</a></h4>
                    <p class="doc-speciality">{{doctor.degrees}}</p>
                    <h5 class="doc-department"><img src="assets/img/specialities/specialities-04.png" class="img-fluid" alt="Speciality">{{doctor.specialty}}</h5>
                    <div class="rating">
                        <i class="fa fa-solid fa-user"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star"></i>
                        <span class="d-inline-block average-rating">(27)</span>
                    </div>
                    <div class="clinic-details">
                        <p class="doc-location"><i class="fas fa-map-marker-alt"></i>{{doctor.location}}</p>
                        <ul class="clinic-gallery">
                            <li>
                                <a href="assets/img/features/feature-01.jpg" data-fancybox="gallery">
                                    <img src="assets/img/features/feature-01.jpg" alt="Feature">
                                </a>
                            </li>
                            <li>
                                <a href="assets/img/features/feature-02.jpg" data-fancybox="gallery">
                                    <img src="assets/img/features/feature-02.jpg" alt="Feature">
                                </a>
                            </li>
                            <li>
                                <a href="assets/img/features/feature-03.jpg" data-fancybox="gallery">
                                    <img src="assets/img/features/feature-03.jpg" alt="Feature">
                                </a>
                            </li>
                            <li>
                                <a href="assets/img/features/feature-04.jpg" data-fancybox="gallery">
                                    <img src="assets/img/features/feature-04.jpg" alt="Feature">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clinic-services">
                        <span>Dental Fillings</span>
                        <span> Whitneing</span>
                    </div>
                </div>
            </div>
            <div class="doc-info-right">
                <div class="clini-infos">
                    <ul>
                        <li><i class="far fa-thumbs-up"></i> 99%</li>
                        <li><i class="far fa-comment"></i> 35 Feedback</li>
                        <li><i class="fas fa-map-marker-alt"></i> Newyork, USA</li>
                        <li><i class="far fa-money-bill-alt"></i> ${{doctor.vezeeta}}<i class="fas fa-info-circle" data-bs-toggle="tooltip" title="Lorem Ipsum"></i></li>
                    </ul>
                </div>
                <div class="clinic-booking">

                    <a [routerLink]="['/doctors/book',doctor._id]">Book Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>