<section class="section pharm-slide-home">
  <div>
    <div class="col-12 d-flex" style="width: 100%; display: inline-block">
      <div class="col-12 col-md-6">
        <div class="image">
          <h6>Everyday Save upto</h6>
          <h2>
            20%
            <span>Hurry</span>
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="d-inline-block">
            <a href="" class="btn book-btn1">Shop Now</a>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <img
          src="../../../../../assets/image/medicine/doc-slider.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<div class="section-help">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="help-box">
          <span class="bg-lightwarning">
            <img
              src="../../../../../assets/image/medicine/icon/empty-wallet.svg"
              class="img-fluid"
              alt=""
            />
          </span>
          <div class="help-info">
            <h5>Safe Payment</h5>
            <p>100% secure payment</p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-lg-3 col-sm-6">
        <div class="help-box">
          <span class="bg-lightgrey">
            <img
              src="../../../../../assets/image/medicine/icon/help-icon.svg"
              class="img-fluid"
              alt=""
            />
          </span>
          <div class="help-info">
            <h5>24/7 Help Center</h5>
            <p>Dedicated 24/7 support</p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="col-lg-3 col-sm-6">
        <div class="help-box">
          <span class="bg-lightblue">
            <img
              src="../../../../../assets/image/medicine/icon/return-icon.svg"
              class="img-fluid"
              alt=""
            />
          </span>
          <div class="help-info">
            <h5>Guarantee Return</h5>
            <p>30 day guarantee Return</p>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="col-lg-3 col-sm-6">
        <div class="help-box">
          <span class="bg-lightgreen">
            <img
              src="../../../../../assets/image/medicine/icon/truck-icon.svg"
              class="img-fluid"
              alt=""
            />
          </span>
          <div class="help-info">
            <h5>Free Delivery</h5>
            <p>For all Orders over $120</p>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</div>
<app-medicine-cate></app-medicine-cate>
